.contato{
  padding: 24px 24px;
}
.contato__titulo,
.contato__texto{
  color: var(--azul-primario);
}
.contato__titulo{
  font-size: 18px;
  font-weight: 500;
}
.contato__texto{
  font-weight: 300;
  margin: 8px 0;
}
.contato__email{
  width: 23em;
  padding: 1em ;
  border-radius: 24px;
  border: 1px solid var(--azul-primario);
  color: var(--azul-primario);
}
.contato__email::placeholder{
  font-family: var(--fonte-principal);
  color: var(--azul-primario);
  background: url(../../src/Email.svg) no-repeat;
  background-position: 4px;
  padding-left: 32px;
  
}

@media screen and (min-width: 1024px){
  .contato{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contato__titulo{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .contato__email{
    width: 30%;
  }
  .contato__descricao{
    width: 350px;
  }
}
@media screen and (min-width: 1728px){
  .contato{
    padding: 3em 30vw;
  }
}